@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cylburn";
  src: url("./fonts/Cylburn.otf");
}

@font-face {
  font-family: "Montaga";
  src: url("./fonts/Montaga.ttf");
}

@layer components {
  .custom-input {
    width: 200px;
    margin-left: 20px;
    background: theme('colors.transparent');
    border: none;
    border-bottom: 1px solid;
    color: theme('colors.black');
    filter: invert();
  }
  .custom-flex-col {
    flex: 0 0 100%;
  }
  .custom-flex-row {
    flex: 0 0 0;
  }
  .menu-shadow {
    box-shadow: -1000px 10px 0px 9000px rgb(0 0 0 / 0.6);
  }
}