@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cylburn";
  src: url("./fonts/Cylburn.otf");
}

@font-face {
  font-family: "Montaga";
  src: url("./fonts/Montaga.ttf");
}

@layer components {
  .custom-input {
    width: 200px;
    margin-left: 20px;
    background: theme('colors.transparent');
    border: none;
    border-bottom: 1px solid;
    color: theme('colors.black');
    filter: invert();
  }
  .custom-input-dark {
    width: 200px;
    margin-left: 20px;
    background: theme('colors.transparent');
    border: none;
    border-bottom: 1px solid;
    color: theme('colors.marron');
  }
  .custom-flex-col {
    flex: 0 0 100%;
  }
  .custom-flex-row {
    flex: 0 0 0;
  }
  .menu-shadow {
    box-shadow: -1000px 10px 0px 9000px rgb(0 0 0 / 0.6);
  }
  .button-shadow {
    box-shadow: 2px 2px 0px 0px #515151;
  }
  .rotateY {
    transform: rotateY(180deg);
  }
  .table-border{
    border: 2px solid;
  }
}

/* Dark mode button */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8CB3C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #FCF489;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2C110A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.stroke{
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #2C110A;
}