@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cylburn";
  src: url("./fonts/Cylburn.otf");
}

@font-face {
  font-family: "Montaga";
  src: url("./fonts/Montaga.ttf");
}